<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <!-- Basic needs -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>南风喃 - 关于</title>
    {% load static %}
    {% include 'common/static.html' %}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}" type="text/css"/>
</head>
<body id="top">
{% include 'common/header.html' %}
<!-- Content -->
<section id="cd-timeline" class="cd-container format-audio" style="margin-top:100px">
    {% for model in data.list %}
        {% if model.typeid == 12 %}
            <!-- audio -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-01">
                    <img src="/static/images/constellation/{{ model.create|date:"m" }}.png" alt="南风喃"/>
                </div>
                <div class="cd-timeline-content">
                    <h2>{{ model.title }}</h2>
                    {% if model.content %} <p>{{ model.content }}</p> {% endif %}
                    <audio id="player2" src="{{ model.split2files }}" width="100%" controls="controls"
                           height="42"></audio>
                    {% if model.split2url %}
                        <a href="{{ model.split2url }}" class="cd-read-more" style="line-height:16px;">立即跳转</a>
                    {% endif %}
                    <span class="cd-date">{{ model.create|date:"Y-m-d" }}</span>
                </div>
            </div>
        {% elif model.typeid == 13 %}
            <!-- image -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-02">
                    <img src="/static/images/constellation/{{ model.create|date:"m" }}.png" alt="南风喃"/>
                </div>
                <div class="cd-timeline-content">
                    <h2>{{ model.title }}</h2>
                    {% if model.content %} <p>{{ model.content }}</p> {% endif %}
                    <img src="{{ model.split2files }}" alt="南风喃"/>
                    {% if model.split2url %}
                        <a href="{{ model.split2url }}" class="cd-read-more" style="line-height:16px;">立即跳转</a>
                    {% endif %}
                    <span class="cd-date">{{ model.create|date:"Y-m-d" }}</span>
                </div>
            </div>
        {% elif model.typeid == 15 %}
            <!-- video -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-03">
                    <img src="/static/images/constellation/{{ model.create|date:"m" }}.png" alt="南风喃"/>
                </div>
                <div class="cd-timeline-content">
                    <h2>{{ model.title }}</h2>
                    {% if model.content %} <p>{{ model.content }}</p> {% endif %}
                    <video id="player2" src="{{ model.split2files }}" width="100%" controls="controls"
                           height="42"></video>
                    {% if model.split2url %}
                        <a href="{{ model.split2url }}" class="cd-read-more" style="line-height:16px;">立即跳转</a>
                    {% endif %}
                    <span class="cd-date">{{ model.create|date:"Y-m-d" }}</span>
                </div>
            </div>
        {% elif model.typeid == 16 %}
            <!-- text -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-04">
                    <img src="/static/images/constellation/{{ model.create|date:"m" }}.png" alt="南风喃"/>
                </div>
                <div class="cd-timeline-content">
                    <h2>{{ model.title }}</h2>
                    {% if model.content %} <p>{{ model.content }}</p> {% endif %}
                    {% if model.split2url %}
                        <a href="{{ model.split2url }}" class="cd-read-more" style="line-height:16px;">立即跳转</a>
                    {% endif %}
                    <span class="cd-date">{{ model.create|date:"Y-m-d" }}</span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-00">
            <img src="{% static 'images/constellation/01.png' %}" alt="南风喃"/>
        </div>
    </div>
</section>
{% include 'common/footer.html' %}
{% include 'common/static-footer.html' %}
</body>
</html>