<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>yii's blog 后台 - 关于</title>
    {% include 'admin/common/static.html' %}
    <script type="text/javascript">
        $(function () {
            layui.use(['form', 'layedit', 'upload'], function () {
                var form = layui.form, layedit = layui.layedit, upload = layui.upload;
                //编辑器图片接口设置
                layedit.set({uploadImage: {url: '/admin/api/upload_files/?dir=/static/uploadfiles/autouploads'}});
                //创建编辑器
                var yedit = layedit.build('LAY_editor');
                //自定义验证规则
                form.verify({
                    'content': function () {
                        layedit.sync(yedit);
                    }
                });
                //多图片上传
                upload.render({
                    elem: '#btnUploadss',
                    url: '/admin/api/upload_files/?dir=/static/uploadfiles/autouploads',
                    multiple: true,
                    before: function () {
                        $('input[name="imagesurl"]').val('');
                    },
                    done: function (res) {
                        $('input[name="imagesurl"]').val($('input[name="imagesurl"]').val()
                            + ',' + res['data']['src']);
                    }
                });
                //表单提交
                form.on('submit(formDemo)', function (data) {
                    $(this).pag_edit({
                        type: 'post',
                        url_edit: '/admin/api/edit_about/',
                        params: {'model': JSON.stringify(data.field)}
                    });
                    return false;
                });
            });
        });
    </script>
</head>
<body>
{% include 'admin/common/header.html' %}
<div class="layui-fluid layui-clear">
    <div class="layui-row">
        <div class="layui-col-lg12 layui-col-md12 layui-col-sm12 margin-default">
            <div class="layui-elem-path">
                <span class="layui-breadcrumb">
                    <a href="/admin/"><i class="layui-icon">&#xe600;</i> 首页</a>
                    <a><cite><i class="layui-icon">&#xe620;</i> 关于</cite></a>
                </span>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-lg12 layui-col-md12 layui-col-sm12">
            <div class="box box-primary">
                <div class="box-header">
                    <h2 class="pull-left">关于</h2>
                </div>
                <div class="box-body">
                    <form class="layui-form layui-form-pane layui-container" action="">
                        <input type="text" name="pk" value="{{ data.model.pk }}" hidden/>
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
                                       autocomplete="off" autofocus class="layui-input" value="{{ data.model.title }}"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">图片链接</label>
                            <div class="layui-input-inline">
                                <input type="text" name="imagesurl" placeholder="请输入图片链接(多个以,隔开)"
                                       autocomplete="off" class="layui-input" value="{{ data.model.imagesurl }}"/>
                            </div>
                            <button id="btnUploadss" class="layui-btn" type="button">图片上传</button>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">引导语</label>
                            <div class="layui-input-block">
                                <textarea name="leading" placeholder="请输入引导语"
                                          class="layui-textarea">{{ data.model.leading }}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">正文</label>
                            <div class="layui-input-block">
                                <textarea id="LAY_editor" name="content" lay-verify="content" placeholder="请输入正文"
                                          class="layui-textarea">{{ data.model.content }}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>