<!-- header -->
<header class="short-header">
    <div class="gradient-block"></div>
    <div class="row header-content">
        <div class="logo">
            <a href="/">Author</a>
        </div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation sf-menu">
                <li class="current"><a href="/" title="">首页</a></li>
                <li><a href="/essay/" title="">随笔</a></li>
                <li><a href="/collection/" title="">收藏</a></li>
                <li><a href="/feedback/" title="">留言板</a></li>
                <li><a href="/about/" title="">关于</a></li>
            </ul>
        </nav> <!-- end main-nav-wrap -->
        <div class="search-wrap">
            <form role="search" method="get" class="search-form" action="#">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s"
                           autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>
            <a href="#" id="close-search" class="close-btn">Close</a>
        </div> <!-- end search wrap -->
        <div class="triggers">
            <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->
    </div>
</header> <!-- end header -->