{% load static %}
<!-- Favicons -->
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
<!-- Css -->
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/vendor.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/tipso/tipso.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
<!-- Js -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'js/pace.min.js' %}" type="text/javascript"></script>