<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <!-- Basic needs -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ data.index_about.description }}">
    <meta name="keywords" content="{{ data.index_about.keywords }}">
    <meta name="author" content="yii">
    <title>{{ data.index_about.title }}</title>
    {% load static %}
    {% include 'common/static.html' %}
</head>
<body>
{% include 'common/header.html' %}
<!-- Content -->
<section id="bricks">
    <div class="row masonry">
        <!-- Brick-wrapper -->
        <div class="bricks-wrapper">
            <div class="grid-sizer"></div>
            <div class="brick entry featured-grid animate-this">
                <div class="entry-content">
                    <div id="featured-post-slider" class="flexslider">
                        <ul class="slides">
                            {% for img in data.index_about.split2list %}
                                {% if img %}
                                    <li>
                                        <div class="featured-post-slide">
                                            <div class="post-background"
                                                 style="background-image:url({{ img }});"></div>
                                            <div class="overlay"></div>
                                        </div>
                                    </li> <!-- /slide -->
                                {% endif %}
                            {% endfor %}
                        </ul> <!-- end slides -->
                    </div> <!-- end featured-post-slider -->
                </div> <!-- end entry content -->
            </div>
            {% for model in data.index_essay %}
                {% if model.typeid == 12 %}
                    <!-- audio -->
                    <article class="brick entry format-audio animate-this">
                        <div class="entry-thumb">
                            <a href="/essay/{{ model.id }}" class="thumb-link" target="_blank">
                                <img src="{{ model.clearimages }}" alt="{{ data.index_about.title }} - image"
                                     style="width:100%"/>
                            </a>
                            <div class="audio-wrap">
                                <audio id="player2" src="{{ model.clearfiles }}" width="100%"
                                       height="42" controls="controls"></audio>
                            </div>
                        </div>
                        <div class="entry-text">
                            <div class="entry-header">
                                <h1 class="entry-title"><a href="/essay/{{ model.id }}"
                                                           target="_blank">{{ model.seotitle }}</a></h1>
                            </div>
                            <div class="entry-excerpt">{{ model.seodescription }}</div>
                        </div>
                    </article>
                {% elif model.typeid == 13 %}
                    <!-- image -->
                    <article class="brick entry format-standard animate-this">
                        <div class="entry-thumb">
                            <a href="/essay/{{ model.id }}" class="thumb-link" target="_blank">
                                <img src="{{ model.clearimages }}" alt="{{ data.index_about.title }} - image"
                                     style="width:100%"/>
                            </a>
                        </div>
                        <div class="entry-text">
                            <div class="entry-header">
                                <h1 class="entry-title"><a href="/essay/{{ model.id }}"
                                                           target="_blank">{{ model.seotitle }}</a></h1>
                            </div>
                            <div class="entry-excerpt">{{ model.seodescription }}</div>
                        </div>
                    </article>
                {% elif model.typeid == 14 %}
                    <!-- images -->
                    <article class="brick entry format-gallery group animate-this">
                        <div class="entry-thumb">
                            <div class="post-slider flexslider">
                                <ul class="slides">
                                    {% for img in model.split2list %}
                                        {% if img %}
                                            <li>
                                                <img src="{{ img }}" alt="{{ data.index_about.title }} - image"
                                                     style="width:100%"/>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="entry-text">
                            <div class="entry-header">
                                <h1 class="entry-title"><a href="/essay/{{ model.id }}"
                                                           target="_blank">{{ model.seotitle }}</a></h1>
                            </div>
                            <div class="entry-excerpt">{{ model.seodescription }}</div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </div> <!-- end brick-wrapper -->
    </div> <!-- end row -->
    <div class="row masonry text-center">
        <button id="loadingMore" type="button" class="button full-width" style="max-width:230px;margin-top:100px"
                onclick="getArticle('essay')">加载更多
        </button>
    </div>
</section> <!-- end bricks -->
{% include 'common/footer.html' %}
{% include 'common/static-footer.html' %}
</body>
</html>